In [1]:
import pandas as pd

In [150]:
import numpy as np

In [ ]:
class RecordedTrade(Item):
    ActionNum = Field()
    Time = Field()
    Type = Field()
    Order = Field()
    Size = Field()
    Price = Field()
    SL = Field()
    TP = Field()
    Profit = Field()
    Balance = Field()

class TradeSpider(BaseSpider):
    "Spider for extracting "

Objectives:
    * scrape trade data off the htm files put out as report by mT4
    * get candle data exported from the history center as a csv file
    * do some analytics that include
    * get trade setup
        * calculate min. win rate at trade entry, trade modification (if any) and trade exit
    * get corresponding candle data
        * compare body/whisker length at trade entry, trade modification (if any) and trade exit
        * track trade volume throughout
    * find whether there are any links between these data and trade outcomes

In [6]:
candleFname = 'EURUSD60.csv'
candleDF = pd.read_csv(candleFname,names=['DATE','TIME','OPEN','HIGH','LOW','CLOSE','VOLUME'],index_col=['DATE','TIME'])

In [12]:
candleDF.head()

                    OPEN    HIGH     LOW   CLOSE  VOLUME
DATE       TIME
1971.01.03 18:00  0.5369  0.5369  0.5369  0.5369       1
1971.01.04 18:00  0.5366  0.5366  0.5366  0.5366       1
1971.01.05 18:00  0.5365  0.5365  0.5365  0.5365       1
1971.01.06 18:00  0.5368  0.5368  0.5368  0.5368       1
1971.01.07 18:00  0.5371  0.5371  0.5371  0.5371       1

In [22]:
candleDF.loc['2014.12.01','05:00']

OPEN         1.24415
HIGH         1.24689
LOW          1.24393
CLOSE        1.24644
VOLUME    3663.00000
Name: (2014.12.01, 05:00), dtype: float64

In [23]:
candleDF.loc['2014.12.01','05:00'].OPEN

1.2441500000000001

In [22]:
from bs4 import BeautifulSoup
import urllib2
import pandas as pd 
from collections import OrderedDict
url='file:///Users/grayWolf/Work/FX/StrategyTester.htm'
#def ParseReport(url):
page = urllib2.urlopen(url)
soup = BeautifulSoup(page,'html.parser')

all_tables = soup.find_all('table')

# get initial deposit
summaryTable=all_tables[0]
rows = summaryTable.findAll("tr")
initial_deposit=0
for row in rows:
    cell = row.findAll("td")
    if "Initial deposit" in cell[0]:
        initial_deposit = str(cell[1].find(text=True))
        break

# fill trade history dictionary
tradeTable=all_tables[-1]
rows=tradeTable.findAll("tr")

tradeHistTags = ["Action Number","Order Time","Action","Order Number",
                 "Order Vol.","Open Price","S/L","T/P","Profit","Balance"]

#tradeHist= [[] for i in range(10)]
tradeHist = OrderedDict.fromkeys(tradeHistTags)
for t in tradeHistTags:
    tradeHist[t] = []
#tradeHist={k:[] for k in tradeHistTags}
record = False
for row in rows:
    cell = row.findAll("td")
    if record == False:
        if "#" in cell[0].find(text="#"):
            record=True
            continue
    else:
        
        for i,entry in  enumerate(cell):
            
            result = (entry.find(text=True))
            tradeHist[tradeHistTags[i]].append(result)
            #tradeHist[i].append(result)
            
        if len(cell)<10:
            tradeHist[tradeHistTags[9]].append("None")
tradeHist["Balance"][0] = initial_deposit

In [23]:
len(rows)

574

In [24]:
for k in tradeHist.keys():
    print k,len(tradeHist[k])

Action Number 573
Order Time 573
Action 573
Order Number 573
Order Vol. 573
Open Price 573
S/L 573
T/P 573
Profit 573
Balance 573

In [25]:
df=pd.DataFrame.from_dict(tradeHist)

In [26]:
df.set_index(['Action Number'])

,Order Time,Action,Order Number,Order Vol.,Open Price,S/L,T/P,Profit,Balance
Action Number,,,,,,,,,
1,2014.01.02 02:42,sell,1,1.00,1.37367,0.00000,0.00000,None,10000.00
2,2014.01.02 02:42,modify,1,1.00,1.37367,1.38067,1.37208,None,None
3,2014.01.02 03:13,t/p,1,1.00,1.37208,1.38067,1.37208,159.00,10159.00
4,2014.01.03 04:10,sell,2,1.00,1.36292,0.00000,0.00000,None,None
5,2014.01.03 04:10,modify,2,1.00,1.36292,1.36722,1.35991,None,None
6,2014.01.03 12:05,t/p,2,1.00,1.35991,1.36722,1.35991,301.00,10460.00
7,2014.01.05 18:00,sell,3,1.00,1.35955,0.00000,0.00000,None,None
8,2014.01.05 18:00,modify,3,1.00,1.35955,1.36584,1.35945,None,None
9,2014.01.05 18:01,t/p,3,1.00,1.35945,1.36584,1.35945,10.00,10470.00
10,2014.01.06 00:57,sell,4,1.00,1.35781,0.00000,0.00000,None,None
11,2014.01.06 00:57,modify,4,1.00,1.35781,1.36649,1.35579,None,None
12,2014.01.07 07:14,buy,5,1.00,1.36545,0.00000,0.00000,None,None
13,2014.01.07 07:14,modify,5,1.00,1.36545,1.35712,1.36721,None,None
14,2014.01.08 05:20,sell,6,1.00,1.35962,0.00000,0.00000,None,None
15,2014.01.08 05:20,modify,6,1.00,1.35962,1.36562,1.35825,None,None
16,2014.01.08 05:55,t/p,6,1.00,1.35825,1.36562,1.35825,137.00,10607.00
17,2014.01.08 08:18,s/l,5,1.00,1.35712,1.35712,1.36721,-833.00,9774.00
18,2014.01.08 14:04,t/p,4,1.00,1.35579,1.36649,1.35579,202.00,9976.00
19,2014.01.09 08:49,sell,7,1.00,1.35526,0.00000,0.00000,None,None
20,2014.01.09 08:49,modify,7,1.00,1.35526,1.36331,1.35345,None,None
21,2014.01.10 08:30,s/l,7,1.00,1.36331,1.36331,1.35345,-805.00,9171.00
22,2014.01.10 08:30,buy,8,1.00,1.36350,0.00000,0.00000,None,None
23,2014.01.10 08:30,modify,8,1.00,1.36350,1.35484,1.36527,None,None
24,2014.01.10 08:33,t/p,8,1.00,1.36527,1.35484,1.36527,177.00,9348.00
25,2014.01.12 18:00,buy,9,1.00,1.36677,0.00000,0.00000,None,None
26,2014.01.12 18:00,modify,9,1.00,1.36677,1.35484,1.36687,None,None
27,2014.01.12 18:32,t/p,9,1.00,1.36687,1.35484,1.36687,10.00,9358.00
28,2014.01.15 03:29,sell,10,1.00,1.36271,0.00000,0.00000,None,None
29,2014.01.15 03:29,modify,10,1.00,1.36271,1.36992,1.36102,None,None
30,2014.01.15 04:42,t/p,10,1.00,1.36102,1.36992,1.36102,169.00,9527.00
...,...,...,...,...,...,...,...,...,...
544,2015.01.20 13:41,modify,182,1.00,1.15511,1.16381,1.15307,None,None
545,2015.01.21 09:50,buy,183,1.00,1.16154,0.00000,0.00000,None,None
546,2015.01.21 09:50,modify,183,1.00,1.16154,1.15397,1.16313,None,None
547,2015.01.21 09:59,t/p,183,1.00,1.16313,1.15397,1.16313,159.00,7273.00
548,2015.01.21 10:16,s/l,182,1.00,1.16381,1.16381,1.15307,-870.00,6403.00
549,2015.01.21 10:48,s/l,181,1.00,1.16486,1.16486,1.15157,-962.00,5441.00
550,2015.01.22 09:40,sell,184,1.00,1.15456,0.00000,0.00000,None,None
551,2015.01.22 09:40,modify,184,1.00,1.15456,1.16485,1.15151,None,None
552,2015.01.22 10:07,t/p,184,1.00,1.15151,1.16485,1.15151,305.00,5746.00
553,2015.01.23 01:21,sell,185,1.00,1.13153,0.00000,0.00000,None,None
554,2015.01.23 01:21,modify,185,1.00,1.13153,1.13467,1.12370,None,None
555,2015.01.23 03:27,s/l,185,1.00,1.13467,1.13467,1.12370,-314.00,5432.00
556,2015.01.25 18:00,sell,186,1.00,1.11492,0.00000,0.00000,None,None
557,2015.01.25 18:00,modify,186,1.00,1.11492,1.13556,1.11482,None,None
558,2015.01.25 18:11,t/p,186,1.00,1.11482,1.13556,1.11482,10.00,5442.00
559,2015.01.27 04:37,buy,187,1.00,1.12961,0.00000,0.00000,None,None
560,2015.01.27 04:37,modify,187,1.00,1.12961,1.12230,1.13235,None,None
561,2015.01.27 04:52,t/p,187,1.00,1.13235,1.12230,1.13235,274.00,5716.00
562,2015.01.29 00:17,sell,188,1.00,1.12714,0.00000,0.00000,None,None
563,2015.01.29 00:17,modify,188,1.00,1.12714,1.13689,1.12457,None,None
564,2015.02.03 09:10,buy,189,1.00,1.13636,0.00000,0.00000,None,None
565,2015.02.03 09:10,modify,189,1.00,1.13636,1.12918,1.13781,None,None
566,2015.02.03 09:10,s/l,188,1.00,1.13689,1.13689,1.12457,-975.00,4741.00
567,2015.02.03 09:11,t/p,189,1.00,1.13781,1.12918,1.13781,145.00,4886.00
568,2015.02.04 19:21,sell,190,1.00,1.13119,0.00000,0.00000,None,None
569,2015.02.04 19:21,modify,190,1.00,1.13119,1.14842,1.12600,None,None
570,2015.02.05 14:14,s/l,190,1.00,1.14842,1.14842,1.12600,-1723.00,3163.00
571,2015.02.05 14:14,buy,191,1.00,1.14858,0.00000,0.00000,None,None
572,2015.02.05 14:14,modify,191,1.00,1.14858,1.13312,1.15268,None,None
573,2015.02.06 11:01,s/l,191,1.00,1.13312,1.13312,1.15268,-1546.00,1617.00

In [28]:
df.to_excel('test.xlsx', sheet_name='Sheet1',index=False)